.menu {
  display: flex;
  justify-content: space-evenly;
}

.btn-cancel {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #5d5d5d;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-cancel:hover {
  color: #fff;
  background-color: #ff4c4c;
  border: 2px solid #ff4c4c;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-save {
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #d7d7d7;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-save:hover {
  color: #fff;
  background-color: #4b9f3d;
  border: 2px solid #4b9f3d;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
